<!DOCTYPE html>
<html lang="en">
<head>
  <title>Twitter | <%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    	<%= link_to "Flutter", root_path(), :class => "brand" %>
    	
              <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- Everything in here gets hidden at 940px or less -->
      <div class="nav-collapse">
        <!-- menu items gets rendered here instead -->
        <ul class="nav">
			<li><%= link_to "Home", root_path() %></li>
			<li><%= link_to "about", about_path() %></li>
			<li><%= link_to "contact", contact_path() %></li>

        </ul>
      </div>	
    </div>
  </div>
</div>
<div class="container">
	<section class="main-section">
	<%= yield %>
	</section>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	});

</script>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
